body{   
    
    box-sizing: border-box;
   
    color: #000;
    background-color:rgb(255, 205, 178) ;
    font-family: "Holtwood One SC", serif;
} 

:root{
    --blue: tomato;
    --black: #000;
    
}
a{
    text-decoration: none;
    color: #000;
    padding: 0 80px;
}
/*Main Page*/
#about-section{
    min-height: 35%;
    max-width: 100%;
    margin-bottom: 15%;
}
.main_title h1{
    
    font-size: 2.5rem;
    font-weight:300;
    border: 5px solid rgb(255, 234, 223);
   
    padding-left:34px;
    
}

#side_head{
    margin-top: -23px;
    margin-left: 25px;
    font-size: 0.7rem; 
}
.main_title{
    width: 200px;
    height: 200px;
    margin:11% 39%;
    margin-bottom: 13%;
    position: relative;
    top: 10%;
  
}

#girl-img{
    position: absolute;
    bottom: 5px;
    left: 30px;
}

/* Design section */
#design{
    width: 20%;
    height: 100px;
}
.de-1{
    width: 60px;
    height: 25px;
    border:3px solid #404253;   
}
.de-2{
    width:60px;
    height: 25px;
    border:3px solid #404253;  
}
.de-3{
    width:60px;
    height: 25px;
    border:3px solid #404253;
    position: relative;
}


#first-move .de-1{
    width: 60px;
    height: 25px;
    border:3px solid #404253;
    position: relative;
    background: rgbrgb(224, 125, 72);
    top: 20%;
}
#first-move .de-2{
    width:60px;
    height: 25px;
    border:3px solid #404253;
    position: relative;
    background: var(--brick);
    left: 15%;
    bottom: 2px;
}
#first-move .de-3{
    width:60px;
    height: 25px;
    border:3px solid #404253;
    position: relative;
    background: var(--brick);
    left: 28%;
    bottom: 4px;
}
#first-move{
   
    position: relative;
    opacity: 0;
}
.first{
    animation: first_move 6s cubic-bezier(0,0.0001,0,0.0001) 2s 1 forwards;
}


@keyframes first_move {
    0%{
        left: 40px;
        opacity: 1;
    }
    100%{
        opacity: 1;
        left: 380%;
    }
}

.second-move{
    position: relative;
    opacity: 0;
    right: -380%;
    top: 65%;
    width: 10%;
}
.second-move .de-1{
    top: 29.5px;
    position: relative;
    left: -1px;
}
.second-move .de-2{
    left: 64px;
    position: relative;
    border-left: none;
}
.second-move .de-3{
    bottom: 30px;
    left: 126.71px;
    position: relative;
    border-left: none;
}
.second{
    animation: second-move 6s cubic-bezier(0,0.0001,0,0.0001) 2s 1 forwards;

}
@keyframes second-move {
    to{
        opacity: 1;
        right: -165px;
        
    }
}

.third-move{
    position: relative;
    opacity: 0;
    top: 355%;
   
}
.third{
    animation: third-move 6s cubic-bezier(0,0.0001,0,0.0001) 2s 1 forwards;
}
.third-move .de-1{
    top: 29.5px;
    position: relative;
    left: 15px;
}
.third-move .de-2{
    left: 64px;
    position: relative;
    bottom: 28px;
}
.third-move .de-3{
    bottom: 57.5px;
    left: 126px;
    position: relative;
    
}
.third-move .de-4{
    left: 170px;
    bottom: 60px;
    width:60px;
    height: 25px;
    border:3px solid #404253;
    background: rgb(224, 173, 129);
    position: relative;
    
}
@keyframes third-move {
    0%{
       opacity:1;
       left: 0%;
    }    
    99%{
        opacity: 1;
       
    }
    100%{
        opacity: 1;
        left: 593px;
    }
}

.fourth-move{
    top:140%;
    left: 389%;
    position: relative;
    opacity: 0;
   
}
.fourth{
    animation: fourth-move 6s cubic-bezier(0,0.0001,0,0.0001) 2s 1 forwards;
}
.fourth-move .de-2{
    left: 63px;
    position: relative;
    bottom: 29.5px;
}
.fourth-move .de-3{
    left: 33px;
    position: relative;
    bottom: 85.5px;
}

@keyframes  fourth-move {
   
    to{
        left: 75px;
        opacity: 1;
    }
}



.cloud{
    position: relative;
    bottom: 280px;
    z-index: 0;
}
.measure{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: rgb(239, 235, 235);
    position: relative;
}
.cloud #p-1{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.cloud #p-2{
    left: 39px;
    bottom: 55px;position: relative;
}
.cloud #p-3{
    left: 28px;
    bottom: 75px;position: relative;
}
.cloud #p-4{
    left: 78px;
    bottom: 155px;position: relative;
}
.cloud #p-5{
    left: 65px;
    bottom: 178px;position: relative;
}
.cloud #p-6{
    left: 110px;
    bottom: 235px;position: relative;
}


/* Cloud - 2 */
.cloud-2{
    position: relative;
    bottom: 500px;
    left: 350%;
    height: 100px;
    z-index: -1;
   
}
.cloud-2 #--1{
    left: 8px;
    position: relative;
}.cloud-2 #--2{
    left: 50px;
    bottom: 38px;
    position: relative;
}
.cloud-2 #--3{
    left: 100px;
    bottom: 55px;
    position: relative;
}.cloud-2 #--4{
    left: 18px;
    bottom: 115px;position: relative;
}.cloud-2 #--5{
    left: 65px;
    bottom: 155px;position: relative;
}
.cloud-2 #--6{
    left: 90px;
    bottom: 245px;position: relative;
}
.cloud-2 #--7{
    left: 130px;
    bottom: 285px;position: relative;
}


/* Cloud - 3 */
.cloud-3{
    position: relative;
    bottom: 250px;
    left: 65%;
    height: 100px;
    z-index: -1;
}
.cloud-3 #--1{
    left: 8px;
    position: relative;
}.cloud-3 #--2{
    left: 50px;
    bottom: 48px;
    position: relative;
}
.cloud-3 #--3{
    left: 80px;
    bottom: 65px;
    position: relative;
}.cloud-3 #--4{
    left: 5px;
    bottom: 115px;position: relative;
}.cloud-3 #--5{
    left: 35px;
    bottom: 165px;position: relative;
}
.cloud-3 #--6{
    left: 80px;
    bottom: 245px;position: relative;
}
.cloud-3 #--7{
    left: 110px;
    bottom: 285px;position: relative;
}



/* about section */
.about{
    margin-left: 50%;
    width: 350px;
    height: 250px;
    position: absolute;
    padding: 10px 42px;
    margin-top:-320px;
    font-size: 18px;
    letter-spacing: 4px;
    font-weight: 500;
    line-height: 30px;
    font-family: "Holtwood One SC", serif;
    animation: about 3s linear 2s 1 forwards;
    opacity: 0;
}
@keyframes about {
    0%{
       

    }
    100%{
        opacity: 1;
    }
}
/* Animation for Self-taught Programmer */
#S{
    opacity: 0;
    animation: S 2s cubic-bezier(0,1,0,1)  1s infinite forwards;
    
}
@keyframes S {
    0%{
       background: rgb(224, 125, 72);
        border-top: 2px solid black;
        border-left:  2px solid black;
    }
    5%{
        background: rgb(224, 125, 72);
    }
    
    100%{
        opacity: 1;background: rgb(224, 125, 72);
    }
}
#e{
    opacity: 0;
    animation: e 4s cubic-bezier(0,1,0,1) 2s  infinite forwards;
}
@keyframes e {
    0%{
        background: rgb(20, 21, 21);
         border-top: 2px solid black;
         border-left:  2px solid black;
     }
     5%{
         background: rgb(12, 12, 12);
     }
    100%{
        opacity: 1;
    }
}
#l{
    opacity: 0;
    animation: l 4s cubic-bezier(0,1,0,1) 1s  infinite forwards;
}
@keyframes l {
    0%{
        background: rgb(15, 16, 16);
         border-top: 2px solid black;
         border-left:  2px solid black;
     }
     5%{
         background: rgb(21, 21, 21);
     }
    100%{
        opacity: 1;
    }
}
#f{
    opacity: 0;
    animation: f 4s cubic-bezier(0,1,0,1) 3s  infinite forwards;
}
@keyframes f {
    0%{
        background: rgb(224, 125, 72);
         border-top: 2px solid black;
         border-left:  2px solid black;
     }
     5%{
         background: rgb(224, 125, 72);
     }
    100%{
        opacity: 1;
    }
}
#hiphen{
    opacity: 0;
    animation: hiphen 4s cubic-bezier(0,1,0,1) 2s  infinite forwards;
}
@keyframes hiphen {
    0%{
        background: rgb(224, 125, 72);
         border-top: 2px solid black;
         border-left:  2px solid black;
     }
     5%{
         background: rgb(224, 125, 72);
     }
    100%{
        opacity: 1;
    }
}
#t{
    opacity: 0;
    animation: t 4s cubic-bezier(0,1,0,1)  infinite forwards;
}
@keyframes t {
    0%{
        background: rgb(224, 125, 72);
         border-top: 2px solid black;
         border-left:  2px solid black;
     }
     5%{
         background: rgb(224, 125, 72);
     }
    100%{
        opacity: 1;
        background: rgb(224, 125, 72);
    }
}
#a{
    opacity: 0;
    animation: a 4s cubic-bezier(0,1,0,1) 2s  infinite forwards;
}
@keyframes a {
    0%{
        background: rgb(14, 15, 15);
         border-top: 2px solid black;
         border-left:  2px solid black;
     }
     5%{
         background: rgb(16, 16, 16);
     }
    100%{
        opacity: 1;
    }
}
#u{
    opacity: 0;
    animation: u 4s cubic-bezier(0,1,0,1)   infinite forwards;
}
@keyframes u {
    0%{
        background: rgb(224, 125, 72);
         border-top: 2px solid black;
         border-left:  2px solid black;
     }
     5%{
         background: rgb(224, 125, 72);
     }
    100%{
        opacity: 1;
    }
}
#g{
    opacity: 0;
    animation: g 4s cubic-bezier(0,1,0,1) 4s  infinite forwards;
}
@keyframes g {
    0%{
        background: rgb(224, 125, 72);
         border-top: 2px solid black;
         border-left:  2px solid black;
     }
     5%{
         background: rgb(224, 125, 72);
     }
    100%{
        opacity: 1;
    }
}
#h{
    opacity: 0;
    animation: h 4s cubic-bezier(0,1,0,1) 2s  infinite forwards;
}
@keyframes h {
    0%{
       
         border-top: 2px solid black;
         border-left:  2px solid black;
     }
     
     
    100%{
        opacity: 1;
    }
}
#t-2{
    opacity: 0;
    animation: t-2 4s cubic-bezier(0,1,0,1)  infinite forwards;
}
@keyframes t-2 {
    0%{
        background: rgb(224, 125, 72);
         border-top: 2px solid black;
         border-left:  2px solid black;
     }
     5%{
         background: rgb(224, 125, 72);
     }
    100%{
        opacity: 1;
    }
}
#P{
    opacity: 0;
    animation: P 4s cubic-bezier(0,1,0,1) infinite forwards;
}
@keyframes P {
    0%{
        background: rgb(224, 125, 72);
         border-top: 2px solid black;
         border-left:  2px solid black;
     }
     5%{
         background: rgb(224, 125, 72);
     }
    100%{
        opacity: 1;background: rgb(224, 125, 72);
    }
}
#r{
    opacity: 0;
    animation: r 4s cubic-bezier(0,1,0,1) 4s infinite forwards;
}
@keyframes r{
    0%{
       
         border-top: 2px solid black;
         border-left:  2px solid black;
     }
    
    100%{
        opacity: 1;
    }
}
#o{
    opacity: 0;
    animation: o 4s cubic-bezier(0,1,0,1) 5s infinite forwards;
}
@keyframes o {
    0%{
        background: rgb(224, 125, 72);
         border-top: 2px solid black;
         border-left:  2px solid black;
     }
     5%{
         background: rgb(224, 125, 72);
     }
    100%{
        opacity: 1;
    }
}
#g-2{
    opacity: 0;
    animation:g-2 4s cubic-bezier(0,1,0,1) infinite forwards;
}
@keyframes g-2 {
    0%{
        background: rgb(224, 125, 72);
         border-top: 2px solid black;
         border-left:  2px solid black;
     }
     5%{
         background: rgb(224, 125, 72);
     }
    100%{
        opacity: 1;
    }
}
#r-2{
    opacity: 0;
    animation:r-2 4s cubic-bezier(0,1,0,1) 6s infinite forwards;
}
@keyframes r-2 {
    0%{
       
         border-top: 2px solid black;
         border-left:  2px solid black;
     }
    
    100%{
        opacity: 1;
    }
}
#a-2{
    opacity: 0;
    animation:a-2 4s cubic-bezier(0,1,0,1) 5s infinite forwards;
}
@keyframes a-2 {
    0%{
        background: rgb(13, 14, 14);
         border-top: 2px solid black;
         border-left:  2px solid black;
     }
     5%{
         background: rgb(10, 11, 11);
     }
    100%{
        opacity: 1;
    }
}
#m{
    opacity: 0;
    animation:m 4s cubic-bezier(0,1,0,1) 3s infinite forwards;
}
@keyframes m {
    0%{
        background: rgb(224, 125, 72);
         border-top: 2px solid black;
         border-left:  2px solid black;
     }
     5%{
         background: rgb(224, 125, 72);
     }
    100%{
        opacity: 1;background: rgb(224, 125, 72);
    }
}
#m-2{
    opacity: 0;
    animation:m-2 4s cubic-bezier(0,1,0,1) 6s infinite forwards;
}
@keyframes m-2 {
    0%{
        background: rgb(224, 125, 72);
         border-top: 2px solid black;
         border-left:  2px solid black;
     }
     5%{
         background: rgb(224, 125, 72);
     }
    100%{
        opacity: 1;
    }
}
#e-2{
    opacity: 0;
    animation:e-2 4s cubic-bezier(0,1,0,1) 5s infinite forwards;
}
@keyframes e-2 {
    0%{
        background: rgb(23, 26, 27);
         border-top: 2px solid black;
         border-left:  2px solid black;
     }
     5%{
         background: rgb(17, 18, 18);
     }
    100%{
        opacity: 1;
    }
}
#r-3{
    opacity: 0;
    animation:r-3 4s cubic-bezier(0,1,0,1) infinite forwards;
}
@keyframes r-3 {
    0%{
        background: rgb(224, 125, 72);
         border-top: 2px solid black;
         border-left:  2px solid black;
     }
     5%{
         background: rgb(224, 125, 72);
     }
    100%{
        opacity: 1;
        background: rgb(224, 125, 72);
    }
}

/* Animation for Web Developer */
#W{
    opacity: 0;
    animation: W 4s cubic-bezier(0,1,0,1) infinite forwards;
}
@keyframes W {
    0%{
        background: rgb(224, 125, 72);
         border-top: 2px solid black;
         border-left:  2px solid black;
     }
     5%{
         background: rgb(224, 125, 72);
     }
    100%{
        opacity: 1;
        background: rgb(224, 125, 72);
    }
}
#e-3{
    opacity: 0;
    animation: e-3 4s cubic-bezier(0,1,0,1) infinite forwards;
}
@keyframes e-3 {
    0%{
       
        border-top: 2px solid black;
        border-left:  2px solid black;
    }
   
   100%{
       opacity: 1;
   }
}

#b{
    opacity: 0;
    animation:b 4s cubic-bezier(0,1,0,1) infinite forwards;
}
@keyframes b {
    0%{
        background: rgb(224, 125, 72);
        border-top: 2px solid black;
        border-left:  2px solid black;
    }
   
   100%{
       opacity: 1;
   }
}
#D{
    opacity: 0;
    animation:D 4s cubic-bezier(0,1,0,1) infinite forwards;
}
@keyframes D {
    0%{
        background: rgb(224, 125, 72);
        border-top: 2px solid black;
        border-left:  2px solid black;
    }
   
   100%{
       opacity: 1;
       background: rgb(224, 125, 72);
   }
}

#e-4{
    opacity: 0;
    animation:e-4 4s cubic-bezier(0,1,0,1) infinite forwards;
}
@keyframes e-4 {
    0%{
        background: var(--black);
        border-top: 2px solid rgb(0, 0, 0);
        border-left:  2px solid black;
    }
   
   100%{
       opacity: 1;
   }
}

#v{
    opacity: 0;
    animation:v 4s cubic-bezier(0,1,0,1) infinite forwards;
}
@keyframes v {
    0%{
        background: var(--black);
        border-top: 2px solid black;
        border-left:  2px solid black;
    }
   
   100%{
       opacity: 1;
   }
}

#e-5{
    opacity: 0;
    animation:e-5 4s cubic-bezier(0,1,0,1) infinite forwards;
}
@keyframes e-5 {
    0%{
        background: var(--black);
        border-top: 2px solid black;
        border-left:  2px solid black;
    }
   
   100%{
       opacity: 1;
   }
}

#l-2{
    opacity: 0;
    animation:l-2 4s cubic-bezier(0,1,0,1) infinite forwards;
}
@keyframes l-2 {
    0%{
        background: rgb(224, 125, 72);
        border-top: 2px solid black;
        border-left:  2px solid black;
    }
   
   100%{
       opacity: 1;
       background: rgb(224, 125, 72);
   }
}
#o-2{
    opacity: 0;
    animation:o-2 4s cubic-bezier(0,1,0,1) infinite forwards;
}
@keyframes o-2 {
    0%{
        background: var(--black);
        border-top: 2px solid black;
        border-left:  2px solid black;
    }
   
   100%{
       opacity: 1;
   }
}

#p{
    opacity: 0;
    animation:p 4s cubic-bezier(0,1,0,1) infinite forwards;
}
@keyframes p {
    0%{
        background: var(--black);
        border-top: 2px solid black;
        border-left:  2px solid black;
    }
   
   100%{
       opacity: 1;
   }
}

#e-6{
    opacity: 0;
    animation:e-6 4s cubic-bezier(0,1,0,1) infinite forwards;
}
@keyframes e-6 {
    0%{
        background: var(--black);
        border-top: 2px solid black;
        border-left:  2px solid black;
    }
   
   100%{
       opacity: 1;
      
   }
}
#r-3{
    opacity: 0;
    animation: r-3 4s cubic-bezier(0,1,0,1) infinite forwards;
}
@keyframes r-3 {
    0%{
        background: rgb(224, 125, 72);
        border-top: 2px solid black;
        border-left:  2px solid black;
    }
   
   100%{
       opacity: 1;
       background: rgb(224, 125, 72);
   }
}


#quotation{
   font-size: 20px;
   font-style: bold;
}

/* Nav bar */
.nav_bar{
    width: 25em;
    height: 25em;
    position: absolute;
    left: 73%;
    bottom: 94px;
 
}
#nav_ul{
    position: fixed;
    right: -20px;
    bottom:153px; 
    z-index: 1;
}
.nav_bar li{
    list-style: none;
    color: rgb(243, 131, 71);
    padding: 8px 0;
    position: relative;
    right: -260px;
    text-align: left;
   
}
.nav_bar a{
    text-decoration: none;
    color: rgb(224, 125, 72);
  
}

#home{
 background-color:rgba(239, 217, 217,0.6) ;
 border-radius:  999em 40px 40px 999em ;
 
 
}
#work{
    background-color:rgba(239, 217, 217,0.6) ;
    border-radius:  999em 40px 40px 999em ;
    
}

#contact{
    background-color:rgba(239, 217, 217,0.6) ;
    border-radius:  999em 40px 40px 999em ;
   
}
#exp{
    background-color:rgba(239, 217, 217,0.6) ;
    border-radius:  999em 40px 40px 999em ;
  
}
#skill{
    background-color:rgba(239, 217, 217,0.6) ;
    border-radius:  999em 40px 40px 999em ;
  
}
#resume{
    background-color:rgba(239, 217, 217,0.6) ;
    border-radius:  999em 40px 40px 999em ;
   
}

/*Contact Section */
#contact_section{
    position: absolute;

}
#contact_container{
    position: fixed;
    bottom: 22%;
    right: 82px;
    transform: rotate(90deg);
    width: 50px;
    height: 200px;
}
#contact_container i{
    padding: 15px;
    font-size: 27px;
    transform: rotate(-90deg);
    background-color: rgba(225, 124, 70,0.2);
    opacity: 0;
   
}

.cross_mark{
    position: absolute;
    left: 1455px;
    bottom: 420px;
    opacity: 0;
    background-color: rgba(225, 124, 70,0.2);
    padding: 10px;
    cursor: pointer;
    z-index: 2;
}

.contact_anim{
    animation: contact_animation 900ms ease forwards;
}
@keyframes contact_animation {
    from{
        transform: translateY(-20px) rotate(240deg);
        opacity: 1;
    }
    to{
        transform: translateY(0px) rotate(-90deg);
        opacity: 1;
    }
}
.cross_anim{
    animation: cross_animation 500ms 500ms ease forwards;
}
@keyframes cross_animation {
    from{
        transform: translateX(20px);
        opacity: 1;
    }
    to{
        transform: translateX(0px);
        opacity: 1;
    }
}

.general_opacity{
    animation: gen_opacity 100ms ease    forwards;
}
@keyframes gen_opacity {
    from{opacity: 1;}
    to{opacity: 0;}
}
/*Chat Box */
.chat_container{
    position: fixed;
    left: 95%;
    top: 88%;
  
    padding-left: 2px;
}

/* Projects Page*/
#projects_section{
    margin:18% 0;
    height:50%;
    width: 100%;
    
}


#projects_section h2{
   
    margin: 3% 42%;
    text-align: center;
    font-weight: 900;
    font-size: 30px;
    width: 230px;
    border-left: 7px groove rgb(224, 125, 72);
    border-right: 7px groove rgb(224, 125, 72);
    border-top: 7px double rgb(224, 125, 72);
}



.container{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-template-rows: auto ;
    gap:  2%;
    width: 40.7%;
    height: 100%;
    margin-top: 10%;
    margin-left: 5%;
    overflow: hidden;
}
.work:hover {
    transform: scaleY(103%);
    
    cursor: pointer;
    border: 2px solid rgb(255, 173, 129);
}
.work{
    transition: transform 1s ease;
    bottom: 3px;
    width: 280px;
    height: 280px;
    
    margin-bottom: 45px;
    margin-left: 10px;
    position: relative;
    border-radius: 5%;  margin-top: 12%;
    background-color: rgb(255, 253, 252);

    z-index: 2;
}



.work h3{
    text-align: center;
    margin-top: 100px;
    color: rgb(224, 125, 72);
    font-weight: 400;
    font-size: 1.2rem;
   
}
td{
    border-right: 2px solid rgb(224, 125, 72);
    padding: 0 15px;
    font-size: 10px;
}



/* work_one animation */

@keyframes work_one {
    0%{
        left: 0%;
    }
   20%{
    left: 105%;
   }
   21%{
    transform: scaleY(116%);
    border: 5px groove rgb(224, 125, 72);opacity: 1;
   }
   40%{
    left: 205%;
    transform: scale(100%);    border: 2px solid transparent;
    opacity: 0;
   }
   60%{
    left: 305%;
    opacity: 1;border: 2px solid transparent;
   }
 
   80%{
    left: 405%;
    opacity: 0;
   }
   81%{
    left: -85%;
   }
   100%{
    left: 0%;
    opacity: 1;
   }
}

/* work_two animation */
@keyframes work_two {
    0%{
        left: 0%;opacity: 1;
    }
    20%{
        left: 105%;opacity: 0;
    }
    40%{
        left: 205%; 
    }
    60%{
        left: 305%;
       
    }
    61%{
        left: -195%;

    }
    80%{
        left: -105%;
        transform: scale(100%);
    }
    81%{
        left: -103%;
        transform: scale(100%);border: 2px solid transparent;
    }
    98%{
       left: 0%;border: 5px groove rgb(224, 125, 72);
    }
    99%{
        transform: scaleY(116%);border: 2px solid transparent;
    }
    100%{
       
    }
}

/* work_three animation */
@keyframes work_three {
    0%{
        left: 0%;
    }
    20%{
        left: 105%;
    }
    40%{
        left: 205%;
    }
    41%{
        left:-315%;
    }
    60%{
        left: -215%;
        transform: scale(100%);
    }
    61%{
        left: -215%;
        transform: scale(100%);border: 2px solid transparent;
    }
    80%{
        left: -105%;border: 5px groove rgb(224, 125, 72);
    }
    81%{
        transform: scaleY(116%);
    }
    82%{
        left: -105%;
        transform: scaleY(116%);
    }
    100%{
        left: 0%;
        transform: scale(100%);
    }
}

/* work_four animation */
@keyframes work_four {
    0%{
        left:0%;
    }
    20%{
        left: 105%;
        opacity: 0;
    }
    21%{
        left: -485%;
        opacity: 0;
    }
   
    41%{
        left: -317%;
        opacity: 1;
        transform: scale(100%);border: 2px solid transparent;
    }
    
    60%{
        left: -205%;border: 5px groove rgb(224, 125, 72);transform: scaleY(116%);
    }
    61%{
        transform: scaleY(116%);
    }
    62%{
        left: -205%;
        transform: scaleY(116%);border: 2px solid transparent;opacity: 1;
    }
    80%{
        left: -110%;
        transform: scale(100%);opacity: 0;
    }
    100%{
       left: -5%;
    }
}

/* work_five animation */
@keyframes work_five {
    0%{
        left:-505%;
    }
    20%{
        left: -420%;
        transform: scale(100%);border: 2px solid transparent;
    }
    
    40%{
        left: -308%;border: 5px groove rgb(224, 125, 72);
    }
    41%{
        transform: scaleY(116%);opacity: 1;
    }
    
    60%{
        left: -209%;
        transform: scale(100%);border: 2px solid transparent;
        opacity: 0;
    }
    80%{
        left: -109%;
    }
    100%{
       left: 0%;
    }
}

/*work-one */
#work_one{
    position: relative;
 }

.card_one{
    position: relative;
    top: 25px;
    opacity: 1;animation: image_anim 3s ease 2s ;
}

 .left_arrow{
    clip-path: polygon(100% 0%, 75% 50%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
    background-color: #000;
    width: 18px;
    height: 18px;
    position: absolute;
    left: 29%;
 }
 #la-2{
    position: absolute;
    left: 15%;
 }
 .round{
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: #000;
    position: absolute;
    left: 47%;
 }
 #ra-2{
    position: absolute;
    left: 78%;
 }
 .right_arrow{
    clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
    background-color: #000;
    width: 18px;
    height: 18px;
    position: absolute;
    left: 65%;
 }
.work1{
@keyframes work1 {
    25%{
        transform: translateX(50px);
    }
}
}
/* work-two */
#work_two{
    position: relative;
}
.card_two{
    opacity: 1;animation: image_anim 3s ease 16s;
}
#o-leaf{
    position: absolute;
    left: 40%;
}
#blue-f{
    position: absolute;
    left: 83%;
    bottom: -9%;
    
}
#b-leaf{
    position: absolute;
    left: 5%;
    top: 2%;
}


#work_three{
    position: relative;
    opacity: 0;
    right: 210%;
}
.card_three{
    position: relative;
    left: 38%;
}


#work_four{
    position: relative;
    opacity: 0;
    right: 209%;
}
.card_four{
    position: relative;
    left: 38%;
}


#work_five{
    position: relative;
    opacity: 0;
    right: 350%;
}

#img_slider_right{
    position: absolute;
    left: 48%;
    top: 159%;
}

#img_slider_left{
    position: absolute;
    left: 2%;
    top: 159%;
    opacity: 0;
}

/* Project view container */
.view_container{
    width: 40%;
    height: 65%;
    position: absolute;
    left: 55%;
    top: 135%;
}
.project_view{
    width: 100%; height: 100%;
}

.p_view_one{
    width: 100%;
    height: 100%;
}
.p_img_view{
    width: 85%;
    height: 60%;
    background-color: rgb(238, 192, 167);
    position: absolute;
    left: 3%;
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;;
}

#img1{
    position: absolute;
    opacity: 1;
    margin: 2em 0 0 1.7em;
}
.p_details{
    position: relative;
    width: 93%;
    height: 50%;
    
    top: 41.5%;
   
    border-bottom-left-radius: 5%;
    border-bottom-right-radius: 5%;
    perspective: 1500px;
    perspective-origin: bottom;
}
.inside_details{
    padding: 50px;
    width: 80%;
    height: 70%;
    position: absolute;
   
    transform: rotateX(65deg);
    border-bottom-left-radius: 5%;
    border-bottom-right-radius: 5%;
    background-color: rgb(225, 124, 70);
    display: grid;
    column-gap: 2%;
    grid-template-rows: auto auto auto auto;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto;
}
.esc{
    width: 45%;
    height: 22%;
    background-color: aliceblue;
    border: 2px solid black;
}
#tab{
    grid-area: 4/4/5/span 6;
}
.p_details::before{
    content: "";
    color: black;
}

.project_img{
    border: 5px solid rgb(232, 188, 124);
    
}

#img2{
    position: absolute;
    opacity: 0;
    left: 5%;
   top: 2.7%;
}

#img3{
    position: absolute;
    opacity: 0;
    left: 5%;
    top: 2.7%;
}

#img4{
    position: absolute;    opacity: 0;
    left: 5%;
    top: 2.7%;
}

#img5{
    position: absolute;
    opacity: 0;
    left: 5%;
   top: 2.7%;
}




/*Technologies Page*/
#technologies_section {
    margin-top: 2%;
    
    width: 100%;
    height: 35%;
    padding-bottom: 5%;
}
#technologies_section h2{
    text-align: center;
    margin: 5% 35%;
    border-left: 7px groove rgb(224, 125, 72);
    border-right: 7px groove rgb(224, 125, 72);
    border-top: 7px double rgb(224, 125, 72);
    width: 27%;
    height: auto;
    font-weight: 900;
    font-size: 30px;
}
.tech_page p{
    font-size: 17px;
    padding: 5% 0 0 0;
    font-family: "Merriweather", serif;
    color: white;
}
.html{
    animation: move_tech 2s cubic-bezier(0.165, 0.84, 0.44, 1) 0.5s   forwards;
}
.java{
    animation: move_tech 2s cubic-bezier(0.165, 0.84, 0.44, 1) 0.5s   forwards;
}
.ios{
    animation: move_tech 2s cubic-bezier(0.165, 0.84, 0.44, 1) 1s   forwards;
}
.data{
    animation: move_tech 2s cubic-bezier(0.165, 0.84, 0.44, 1) 2s   forwards;
}
.lis{
    animation: move_tech 2s cubic-bezier(0.165, 0.84, 0.44, 1) 2s   forwards;
}
.js{
    animation: move_tech 2s cubic-bezier(0.165, 0.84, 0.44, 1) 1s   forwards;
}
.tech_page i{
    color: rgb(224, 125, 72);
    font-size: 24px;
}
.tech_page{
    margin:1% 5%;
    width: 90%;
    height: 100%;
    text-align: center;
    

    display: grid;
    grid-template-columns: auto auto auto;
}

.tech_page p:hover{
   transform: scale(107%);
   color: #000;
}

.moving_tech{
    animation: move_tech 2s cubic-bezier(0.165, 0.84, 0.44, 1) 3s   forwards;
}

@keyframes move_tech {
    to{transform: translate(40px);}
}

@keyframes leaf_one {
    0% {transform:translate(50px,500px) rotate(0deg); }
    20% {transform:translate(30px,450px) rotate(360deg);}
    40% {transform:translate(200px) rotate(720deg);}
    60% {transform:translate(100px) rotate(1080deg);}
    80% {transform:translate(-200px) rotate(1440deg);}
   100% {transform:translate(0,0) rotate(1440deg);}
   
}
.leaf-two{
    animation: leaf_two 5s cubic-bezier(0.25, 0.46, 0.45, 0.94)  forwards;
}
@keyframes leaf_two {
    20%{transform: translate(400px,-350px) rotate(360deg);display: block;opacity: 1;}
    40%{transform: translate(650px,-150px) ;display: block;}
    100%{transform: translate(860px,60px) rotate(360deg); opacity: 0;}
    
}
@keyframes leaf_three {
    to{transform: translate(200px) rotate(1080deg);}
}
.leaf{
    width: 40px;
    height: 40px;
    border-radius: 98% 2% 100% 0% / 100% 0% 100% 0% ;
    background-color: green;
    opacity: 0;
}
/* Used absolute position instead of relative to improve spacing (from document flow)*/
#leaf_one{
    position: absolute;
    left: 9%;
}
#leaf_two{
    width: 60px;
    height: 60px;
    position: absolute;
   
  
}

#leaf_three{
    width: 65px;
    height: 65px;
    position: absolute;
 
    left: 5%;
    transform: rotate(70deg);
}
#leaf_four{
    width: 85px;
    height: 85px;
    position: absolute;
    left: 35%;
    transform: rotate(70deg); 
}
#leaf_five{
    width: 25px;
    height: 25px;
    position: absolute;

    left: 25%;
    transform: rotate(90deg);
}
#leafBunch_one{
    position: absolute;
   
    left: 55%;
   
   width: 150px;
   height: 159px;
   opacity: 0;
}
#leaf_six{
    position: absolute;
    
    left: 15%;
   transform: rotate(90deg);
}
#leaf_seven{
    position: absolute;
    background-color: #404253;
   
    left: 15%;
   transform: rotate(90deg);
}
#leaf_eight{
    position: absolute;
   
    left: 20%;
   transform: rotate(40deg);
}
#leaf_nine{
    position: absolute;
   
    left: 30%;
   transform: rotate(50deg);
}





/* Experience Section */
#experience_section h2{
    text-align: center;
    margin: 2% 38%;
    font-size: 35px;
    font-weight: 900;
    border-left: 7px groove rgb(224, 125, 72);
    border-right: 7px groove rgb(224, 125, 72);
    border-top: 7px double rgb(224, 125, 72);
    width: 275px;
}
#experience_section{
    margin:10% 0;
    position: relative;
   
    
}
/* Years animation*/
.exp_container{
    margin-left: 4%;
    margin-top: 6%;
    font-family: "Merriweather", serif;
    width: 90%;
    height: 500px;
}
li{
    margin-bottom: 13px;
}
#title_2{
    width: 150px;
    height: 100px;
    background: black;
    border-radius: 30%;
    text-align: center;
    padding-top: 60px;
    position: relative;
    top: 47px;
    left: 10px;
}

.title_two_anim{
    animation: x 4s cubic-bezier(0,1,1,1) forwards,y 4s cubic-bezier(0,1,1,1) forwards;                     
}

@keyframes y {
    50%{
        top: -160px;
        border-radius: 50%;
        color: black;
    }
    60%{
        background-color: black;
        color: black;
        border-radius: 20%;
        transform: rotate(350deg);
    }
   90%{
    background-color: black;
    color: black;
    border-radius: 80%;
    }  
    100%{
        background-color: black;
        color: white;
        border-radius: 20%;right: 5%;
    }
}
@keyframes x {
    0%{
     left: 80%;
     color: black;
    }
    100%{
        background-color: black;
        color: white;
        border-radius: 20%;
        top: -150px;
        right: 5%;
    }
 }
#title_1{
    border-radius: 30%;
    background: rgb(224, 125, 72);
    width: 150px;
    height: 100px;
    color: black;
    text-align: center;
    padding-top: 60px;
    position: relative;
    left: 89.5%;
    top: 225px;
}

.title_one_anim{
    animation:x1 4s cubic-bezier(0,1,1,1) forwards, y1 4s ease forwards;
}

@keyframes x1 {
    0%{
       left:10%;background-color: rgb(224, 125, 72);
    }
    50%{
        background-color: rgb(224, 125, 72);
        border-radius: 50%;
    }
    60%{
        background-color: rgb(224, 125, 72);
        border-radius: 20%;
        transform: rotate(360deg);
    }
    70%{
        background-color: rgb(224, 125, 72);
    }
    90%{
        background-color: rgb(224, 125, 72);
        border-radius: 50%;
    }
    100%{
        top: -200px;
       transform: translate(25%,-45%);
       background-color: rgb(224, 125, 72);
        color: black;
        border-radius: 20%;
    }
 }

@keyframes y1 {
    50%{
        top: -10px;
    }
    90%{
       background-color: rgb(224, 125, 72);
       color: rgb(224, 125, 72);
       top: 10px;
     
    }
    95%{
        background-color: rgb(224, 125, 72);
       
        
    }
    100%{
        background-color: rgb(224, 125, 72);
        transform: translate(-95px,-35px);
    }
    
}

/* Experience div's */
.job_1{
    opacity: 0;
    width: 75%;
    height: 50%;
}

.job1{
animation: job1 2s cubic-bezier(0.075, 0.82, 0.165, 1) 4s 1  forwards;
}

@keyframes job1 {
    100%{
        top: 20px;
        display: block;
        opacity: 1;
        transform: translate(12%,-40px);
    }
  }


.job_2{
    opacity: 0;
    width: 60%;
    height: 35%;
    position: absolute;
    bottom: 2%;
    left: 500px;
}

.job2{
    animation: job2 2s cubic-bezier(0.075, 0.82, 0.165, 1) 4s 1  forwards;

}
@keyframes job2 {
    100%{
        transform: translate(-12%,20px);
        display: block;
        opacity: 1;
    }
}

.year{
    background-color: rgb(224, 125, 72);
    border-radius: 15% 8% 7% 22%;
    padding:0 2%;
    font-weight: bold;
}
.company{
    background-color: rgb(241, 239, 239);
    border-radius: 15% 8% 7% 22%;
    padding:0 2%;
    font-weight: bold;
}

/*Final Section*/
.contact{
    width: 60%;
    height: 40%;
}
#final h1{
    text-align: center;
    margin: 10%;
   
}
#logos{
   
    background-color: #000;
    transform: rotate(0deg);
    position: fixed;
}
#final i{
    font-size: 48px;
    padding: 0 50px;
    
    transition: transform 1s ease;
}
#final i:hover{
    transform: scale(130%);
}